{% extends "base.html" %}
{% block content %}
    <div class="background-court">
        <a href="/">Vers les courses</a>


        <div class="podium">
            <img src="../static/assets/podium-2.png">
            <img src="../static/assets/podium-1.png">
            <img src="../static/assets/podium-3.png">
        </div>
        <div class="nom-gagnant">
            <span id="joueur2">{ non participant }</span>
            <span id="joueur1">{ non participant }</span>
            <span id="joueur3">{ non participant }</span>
        </div>
    </div>
{% endblock content %}
</html>