{% extends "base.html" %}
{% block content %}
    <div class="background-court">
        <a href="/">Vers les courses</a>

        <div class="podium">
            <img src="../static/assets/podium-2.png">
            <img src="../static/assets/podium-1.png">
            <img src="../static/assets/podium-3.png">
        </div>
        <div class="nom-gagnant">
            {% for user in top_users %}
                <span id="joueur{{ forloop.counter }}">{{ user.user.username }}:<br> {{ user.points }} points</span>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
</html>