*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 font-family: 'Mulish', sans-serif;
 transition: 0.3s all ease-in-out;
}
body{
 justify-content: center;
 align-items: center;
 height: 100vh;
 overflow: hidden;
}

.background{
 height: 100vh;
  background-image: url("../assets/fond.png");
  background-size: contain;
 background-repeat: no-repeat;
 overflow: hidden;
}

.background-court{
  height: 100vh;
  background-image: url("../assets/fond-without-route.png");
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
}

.groupVoitureQuiRoule{
 display: flex;
 flex-wrap: wrap;
 gap: 50px;
}

.voiture-qui-roule{
 height: 200px;
 position: absolute;
}

#voiture-bleu{
 bottom: -80px;
 left: 340px;
}

#voiture-rouge{
 bottom: -80px;
 left: 510px;
}

#voiture-orange{
 bottom: -80px;
 left: 670px;
}

#voiture-violette{
 bottom: -80px;
 left: 840px;
}

.groupVoiture{
 display: flex;
 flex-wrap: wrap;
 gap: 50px;
}

.voiture{
 height: 200px;
}

.shadow-wrap{
 border-radius: 5px;
 padding: 25px;
 background-color:#F0F2FB;
}
.form-wrap{
 background-color: #fff;
padding: 70px;
}
.form-wrap form *{
 display: block;
 width: 100%;
}
.form-wrap form label{
margin-bottom: 5px;
font-size: 14px;
font-weight: 700;
line-height: 26px; 
}
.form-wrap form input{
padding: 12px 20px;
border-radius: 5px;
border: 1px solid #DAE1F5;
background: #FFF; 
color: #545D7A; 
}
#id_username{
 margin-bottom: 20px;
}
.form-wrap button{
 border-radius: 5px;
background: #10182F;
color: #FFF;
cursor: pointer;
text-align: center;
font-size: 16px;
padding: 12px 68px;
font-weight: 700;
border: 1px solid transparent;
margin-top: 30px;
line-height: 26px; 
}
.signup-link{
 color: #10182F;
 font-size: 15px;
 margin-top: 20px;
 text-align: center;
 line-height: 25px;
 display: block;
text-decoration: none;
}
.signup-link:hover{
 text-decoration: underline;
}
.form-wrap button:hover{
 background-color: #fff;
 color: #10182F;
 border-color: #10182F;
}

.podium{
 position: absolute;
 bottom: -10px;
 left: 500px;
}

.podium img{
 margin-left: 50px;
}

.nom-gagnant #joueur2{
 position: absolute;
 top: 570px;
 left: 585px;
}

.nom-gagnant #joueur1{
 position: absolute;
 top: 470px;
 left: 840px;
}

.nom-gagnant #joueur3{
 position: absolute;
 top: 670px;
 right: 490px;
}

.pari{
 width: 550px;
 display: flex;
 flex-direction: column;
 position: absolute;
 right: 50px;
 margin-top: 100px;
}

.pari #voiture-select{
 margin-top: 40px;
}

.pari #voiture-select img{
 margin-right: 35px;
}


#startRace{
 padding: 10px;
 background-color: Black;
 color: white;
 margin-top: 100px;
}

.nav-bar{
 display: flex;
 position: absolute;
 right: 130px;
 bottom: 20px;
}

.nav-bar a{
 padding: 30px;
 display: flex;
 text-decoration: none;
 flex-direction: column;
 align-items: center;
}